.about{
    padding-left: 10%;
    padding-right: 10%;
}
.about_head{
    padding-top: 9vh;
    padding-bottom: 5vh;

}
.about_details{
    display: flex;
}
.about_left_detail{
    
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.about_left_text{
    margin: 0px;
}
.about_right_detail{
    width: 100%;
    display: flex;
    justify-content: right;
    position: relative;
    right: 3vw;
}
.doctor_pic{
    width: 30vw;
    height: auto;
}
.docName{
    font-size: 45px;
}
.readmore{
    color: blueviolet;
    cursor: pointer;
}

@media screen and (max-device-width: 480px) {

    .about{
        padding-left: 5%;
        padding-right: 5%;
    }
    .about_head{
        padding-top: 5vh;
        padding-bottom: 2vh;
    
    }
    .about_details{
        flex-direction: column;
    }
    .about_right_detail{

        justify-content: center;
        padding-bottom: 2vh;

    }
    .doctor_pic{
        width: 75vw;

    }
    .about_left_detail{
        
        align-items: center;
        
    }
    .about_left_text{
        margin: 0px;
    }
    .docNameHead{
        font-size: 23px;
    }
    .docName{
        font-size: 35px;
        text-align: center;
    }
    .docDesign{
        padding-top: 7px;
        text-align: center;
    }
    .docDesc{
        padding-top: 7px;
        font-size: 1.3rem;
    }
}

@media screen and (min-device-width: 768px) 
    and (max-device-width: 1024px) {

    .about{
        padding-left: 5%;
        padding-right: 5%;
    }
    .about_head{
        padding-top: 5vh;
        padding-bottom: 2vh;
    
    }
    .about_details{
        flex-direction: column;
    }
    .about_right_detail{

        justify-content: center;
        padding-bottom: 2vh;

    }
    .doctor_pic{
        width: 60vw;

    }
    .about_left_detail{
        
        align-items: center;
        
    }
    .about_left_text{
        margin: 0px;
    }
    .docNameHead{
        font-size: 23px;
    }
    .docName{
        font-size: 35px;
        text-align: center;
    }
    .docDesign{
        padding-top: 7px;
        text-align: center;
    }
    .docDesc{
        padding-top: 7px;
        font-size: 1.3rem;
    }
}