.stats{
    padding-top: 15vh;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #f1d9fc;

    color: #2c1626;
}
.stats_head{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 50px;
}
.statLists{
    padding-top: 10vh;
    display: flex;
    flex-wrap: wrap;

    gap: 8vw;
    margin-bottom: 33px;
}
.statList{
    display: flex;
    gap: 8vw;
}
.stat{
    width: 200px;
    aspect-ratio: 1;
    background-color: #532a48;
    color: white;
    border-radius: 100%;
    border: #532a48 2px solid;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.statHead{
    margin: 0px;
    font-size: 45px;
}
.statUnder{
    margin: 0px;
    font-size: 21px;
}
.statIcon{
    width: 35%;
    position: relative;
    bottom: 10px;
}
@media screen and (max-device-width: 480px) {

    .stats{
        padding-top: 5vh;
        padding-left: 5%;
        padding-right: 5%;
    }
    .stats_head{
        
        font-size: 35px;
    }
    .stat{
        width: 10rem;
        aspect-ratio: 1;
        background-color: #532a48;
        color: white;
        border-radius: 100%;
        border: #532a48 2px solid;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
    }
    .statHead{
        margin: 0px;
        font-size: 2.4rem;
    }
    .statUnder{
        margin: 0px;
        font-size: 1.1rem;
    }
    .statList{
        width: 100%;
        justify-content: space-between;
        gap: 0px;
    }
    .statLists{
        padding-top: 5vh;
        display: flex;
        flex-wrap: wrap;
    
        gap: 8vw;
        margin-bottom: 33px;
    }
}